.cabecera {
  width: 100px;
  height: 100px;
  display: block;
}
.cuerpo {
  width: 100px;
  height: 100px;
  display: inline;
}
.footer {
  text-align: right;
  width: 100px;
  height: 100px;
  display: inline-block;
}
